
<form asp-action="Create">
    <input type="text" name="PersonId" placeholder="Id"><br>
    <input type="text" name="FullName" placeholder="FullName"><br>
    <input type="text" name="Address" placeholder="Address"><br>
    <input type="submit" value="Tạo dữ liệu">
</form>
<div>
    <a asp-action ="Index"> Quay về trang danh sách </a>
</div>
